<div class="row" style="padding-top: 100px;">
  <% @lives.each do |movie| %>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card border-dark mb-3">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="<%= movie.url %>" allowfullscreen></iframe>
        </div>
        <div class="card-body">
          <a href="#" class="btn btn-secondary btn-block">視聴済みにする</a>
          <h5 class="card-title" style="padding-top: 10px;"><%= movie.title %></h5>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= paginate @lives %>