@import "bootstrap/scss/bootstrap";

.base-container {
  max-width: 992px;
  margin: 0 auto;
  padding: 1rem;
}

body {
  padding-top: 56px;
  padding-bottom: 60px;
}

.local-container {
  padding-top: 100px;
}

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

.pagination {
  justify-content: center;
}

.footer-text {
  font-size: 1.2rem;
}