<nav class="navbar navbar-expand-sm navbar-dark bg-primary fixed-bottom">
  <div class="collapse navbar-collapse justify-content-center">
    <div class="navbar-nav">
      <%= link_to "ブログ", "https://utina.yoshitokamizato.com/", class: "nav-item nav-link active" %>
      <%= link_to "Youtube", "https://www.youtube.com/channel/UCwrDvYey9uKGBeh_l5IF-ag", class: "nav-item nav-link active" %>
    </div>
  </div>
</nav>